*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
}
#logo{
    border-radius:50px ;
}
#big{
    height: 100%;
    width: 200vb;
    background-color: rgb(241, 237, 237);
    margin: 30px 80px 0 80px;
    border-radius:15px;
    box-shadow: 0 0 5px;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
}
#nav{
    background-color: white;
    height: 50px;
    padding-left: 100px;
    padding-right: 130px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    /* border-top-right-radius:15px;
    border-top-left-radius:15px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px; */
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#nav2{
    display:flex;
    gap: 60px;
    background-color: rgb(255, 255, 255);
    justify-content: space-around;
}
.element:hover{
    color:white;
    background-color: rgb(50, 153, 237);
    padding: 8px;
    border-radius: 15px;
}
a{
    text-decoration: none;
    color: black;
}
.child{
    /* height: 40rem; */
    width: 50rem;
}
#main{
    display: flex;
    margin: 25px 50px 0 50px;
    gap: 30px;
    height:90%;
}
#main1{
    border-radius:8px;
    background-color: rgb(255, 255, 255);
}
#search{
    display: flex;
    border-radius: 8px;
    border:2.5px solid rgb(198, 198, 198);
}
button{
    height: 35px;
    border-top-left-radius:8px ;
    border-bottom-left-radius:8px ;
    border: none;
    background-color: transparent;
    width: 30px;
}
button img{
    height: 20px;
    width: 20px;

}
#bar{
    width:100%;
    border: none;
    border-top-right-radius:8px ;
    border-bottom-right-radius:8px ;
}
#filter{
    display: flex;
    position: relative;
}
.fill{
    height: 35px;
    width: 50%;
    background-color: rgb(80, 173, 255);
    border:none;
    justify-content: center;
    align-items: center;
}
#filter1{
    display: flex;
}
/* #filter1:hover{
} */
