*{
    padding: 0;
    margin:0;
}
#body{
    height: 100vh;
    display: flex;
    align-items:center;
    justify-content: center;
}
#inner{
    border: none;
    
    padding:50px 150px 50px 50px;
    width: 300px;
    margin-top: 0px;
}
#h1{
    color: rgb(0, 0, 0);   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#top{
    width: 500px;
    height: 50px;
    margin-bottom: 0px;
    background-color: rgb(0, 145, 255);
    color: rgb(0, 145, 255);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    
}
#par{
    box-shadow: 2px 2px 10px rgb(87, 93, 97);
    width: 500px;
    border-radius: 25px;
}
input{
    width: 350px;
    padding: 5px;
    border:0;
    border-bottom: 2px solid rgb(0, 0, 0);
}
input:focus{
    outline: none;
    border-bottom: 2px solid rgb(49, 61, 221);
}

label{
    font-family:sans-serif;
    font-weight:545;
}
label:hover{
    font-size:large;
}
#drop{
    width: 100px;
    padding: 3px;
    border-radius: 5px;
    border: 2px solid rgb(121, 138, 147);
}
#drop:hover{
    background-color: rgb(0, 145, 255);
    color: white;
    border: 2px solid white;
}
#button{
    width:400px;
    display:flex;
    justify-content: center;
    align-items: center;
}
button{
    width: 75px;
    padding: 5px;
    border-radius:10px;
    background-color:rgb(0, 145, 255) ;
    color: rgb(255, 255, 255);
    border:2px solid #ffffff;
}
button:hover{
    background-color: white;
    border:2px solid rgb(0, 145, 255) ;
    color: rgb(0, 145, 255) ;
}
