body{
    height: 100vh;
    background-color: rgb(236, 235, 235);
    display: flex;
    justify-content: center;
    align-items: center;
}
#outer{
    background-color: rgb(8, 17, 32);
    color: white;
    padding-top: 50px;
    border: 1px solid lightgrey;
    border-radius: 8px;
    height: 600px;
    width: 400px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.form-select{
    font-size: medium;
    margin: 2px;
}
#option{
    display: flex;
    justify-content: center;
    align-items: baseline;
}