/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {  
  display: flex;
  flex-direction: column;
  background: #f4f4f4;
  color: #333;
}
.row{
  margin-top: 15px;
}
/* .bd-placeholder-img{
  background-image:url("/static/images/b2.jpg")
} */
.first{
  background-color: white;
  margin: 30px;
  border: 1px solid rgb(201, 201, 201);
  padding: 5px 10px 10px 10px;
  border-radius: 8px;
}

/*  Main Container */
#container {
  width: 100%;
  height: 68vh;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  overflow: visible;
  background: url("/static/images/b3.jpeg");
  background-size: cover;
  background-position-y:50px;
  position: relative;
  margin-bottom: 15PX;
}

/* Navigation Bar */
#navbar {
  background-color: #ffffff;
  height: 60px;
  padding: 0 80px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

#logo img {
  border-radius: 10px;
  width: 130px;
  height: auto;
  display: block;
}

#nav-links {
  display: flex;
  gap: 25px;
}

.nav-item {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 10px;
}
.nav-item a{
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 10px;
}

.nav-item:hover {
  background-color: #383838;
  color: white;
  transform: translateY(-5px);
}

#menu1{
  padding:10px 20px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  position: absolute; 
  display: none;
  /* opacity: 0; */
  top: 40px;
  right: 15px;
  border-radius: 8px;
  border: 1px black solid;
}
.menu2{
  padding: 10px 5px 10px 5px  ;
}
.ele{
  text-decoration: none;
  color: black;
  font-size: large;
}

.menu2:hover{
  color: white;
  border-radius: 8px;
  background-color: #454545;
}
.menu2:hover a{
  color: white;
  font-weight: 500;
}
#dot{
  display: flex;
  justify-content: center;
}
#dot:hover + #menu1{
  display: flex;
  color: rgb(252, 250, 250);
  text-decoration: none;
  transform: translateY(-5);
}
#dot:hover #menu1 {
  display: flex;
}


/* Search Section */
#search-section {
  display: flex;
  justify-content: center;
  margin: 40px 80px;
}

#search-box {
  display: flex;
  align-items: center;
  border: 2px solid #d9d9d9;
  border-radius: 8px;
  overflow: hidden;
  background: #fafafa;
  width: 100%;
  max-width: 600px;
}

#search-btn {
  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}

#search-btn:hover {
  background-color: #2c2c2c;
}

#search-btn img {
  height: 20px;
  width: 20px;
  filter: invert(30%);
}

#search-btn:hover img {
 filter: invert(100%);  /* convert the image invert mean dark->light or light->dark */
}

#search-bar {
  flex: 1; /*It tells an element to grow and take up available space proportionally compared to its siblings.*/
  height: 40px;
  padding: 0 12px;
  font-size: 15px;
  border: none;
  background: transparent;
  outline: none;
}

/* Filter Section */
#filter-section {
  margin: 20px 80px 50px;
}
#vehicle-type{
    background-color:#e3e3e3;
    padding: 8px;
    border-radius: 8px;
    color: black;
    /* filter: invert(30); */
}

#vehicle_drop{
    background-color: #ffffff;
    border : 1px solid #ccc;
    margin-top: 1px;
    border-radius:8px;
    overflow:hidden;
    display: none;
}


#vehicle_drop a{
    text-decoration: none;
    color: black;
}
.filter-item:hover #vehicle_drop{
    display:block;
    position:absolute;
    width: 9.9rem;

    
    /* filter:invert(30) */
}
/* dopdown */
#opt{
    padding:10px;
    margin: 0;
}
#opt:hover{
    background-color: #282828;
    color: white;
    /* border: #007bff; */
}
#vehicle-type:active #vehicle_drop{
  border: 1.5px solid #007bff;
  display: block;
}

/* filter */
#filter-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 20px; */
  flex-wrap: wrap;
}

.filter-item select {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  font-size: 14px;
  padding: 5px 10px;
  outline: none;
  transition: border 0.3s;
}

.filter-item select:hover {
  border: 1.5px solid #007bff;
}

/*Focus Enhancements */
#filter-controls select:focus,
#search-bar:focus {
  border-color: #007bff;
  box-shadow: 0 0 3px rgba(0, 123, 255, 0.3);
}
option:hover{
    background-color: #007bff;
}
.mid_footer{
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
  width: 100vw;
  border-top: 1px solid rgb(201, 201, 201);
}
#bottom{
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
#bt1{
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.top_footer{
   display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
  padding-top: 5px;
}
/* Responsive Design */
@media (max-width: 768px) {
  #navbar {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }
  #container {
  
  background: url("/static/images/b3.jpeg");

  background-size: 1000px 400px ;
  background-position-y:100px;
  background-position-x:-200px;

}

  #nav-links {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  #search-section,
  #filter-section {
    margin: 20px;
  }

}
