*{
    padding: 0px;
    margin: 0px;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: antiquewhite; */
}
#outer{
    height: 650px;
    width: 450px;
    background-color:rgb(11, 16, 23);
    border-radius: 10px;
    box-shadow: 0 1px 5px;
}
#heading{  
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size:x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#logo{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#input1{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    margin-top:40px ;
}
input{
    height: 35px;
    width: 300px;
    background-color:rgb(11, 16, 23);
    border:1px solid gray;
    padding-left: 10px;
    color: white;
    font-size:medium;
}
#done{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
button{
    height: 30px;
    width: 300px;
    background-color: rgb(38, 132, 220);
    border: none;
    font-size: medium;
    color: white;
}
button:hover{
    background-color:rgb(31, 110, 183) ;
}
#bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 10px;
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    color:  rgb(38, 132, 220);
}
/* #forget{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    color: white;
}
#forget_inner{
    display: flex;
    align-items: center;
    gap: 8px;
} */
#check{
    width: 15px;
}
#check:checked{
    border-color: aqua;
}