<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{uri_for('static',filename='/css/password.css')}}">
</head>
<body>
    <div id="outer">
        <div>
            <div id = "logo"><img id = logo src="{{uri_for('static',filename='/images/logo.png')}}" ></div>
            <h1 id = "heading">Create your password</h1>
        </div>

        <div id="input1">
            <div>
                <input placeholder="Password" type="password">
            </div>
        </div>
        <div id="done">
            <a href=><button type="submit">Sign up</button></a>
        </div>
        <!-- <div id="bottom">
            <p>Don't you have any account?<a href="/frontend/login_page/signup.html"> Sign up</a></p>
        </div> -->
        
    </div>

    
</body>
</html>